/*le css du header*/
.section-header {
    background-color: #fff;
    padding: 10px; 
    width: 100%;
}

.nav {
    list-style-type: none;
    margin: 0; 
    padding: 0;
    display: flex; 
}

.nav-item {
    margin-right: 20px; 
}

.nav-link {
    color: black; 
    text-decoration: none; 
}

.nav-link:hover {
    color: #fff;
    font-weight: bold;
}

#logo img {
    min-width: 50px; 
    max-width: 300px;
    height: auto; 
    margin-right: 20px;
    margin-top: 10px;
}



#connection {
    margin-top: 25px;
    background-color: skyblue;
    border: none; 
    cursor: pointer; 
    display: flex;
    align-items: center;
    padding: 8px 15px;
    color:white;
    text-transform: uppercase;
    border-radius: 50px;
}

#connection img {
    margin-right: 5px;
    width: 20px;
}



.img-fluid {
    margin-top: 10px;
    width: 60px;
    height: 60px;
    justify-content: center;
}

hr {
    border: none; 
    border-top: 5px solid skyblue;
    margin: 0; 
}

#section-header-2 {
    background-image: url('clouds.jpg');
    display: flex; 
    flex-direction: column;
    align-items: center; 
    text-align: center; 
    font-weight: bold;
    font-size: large;
    padding: 20px;
    margin: 0;
    height: 100px;
}

#header-ul {
    list-style-type: none; 
    margin: 0; 
    padding: 5px; 
    display: flex; 
    gap: 20px;
}

.header-li {
    margin-right: 20px;
}

.header-li:last-child {
    margin-right: 0; 
}

.header-li a {
    text-decoration: none; 
    color: black; 
}

#phone {
    width: 50px; 
    height: auto; 
}

#phone-number {
    margin-top: 20px; 
    font-size: 15px; 
    color: black; 
    margin-bottom: 10px;
}
.tooltip {
    display: none;
    position: absolute;
    background-color: skyblue;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

#phone-number:hover + #phone-tooltip {
    display: block;
}
#logo:hover{
    background-color:#fff;
}

/*le css du footer*/

footer{
    background-color:black;
    grid-column-start: span 3;
 
}
.footer_container{
    width: 100%;
    padding: 70px 30px 20px;
}
.sotialIcons{
    display: flex;
    justify-content: center;
}
.sotialIcons a{
    text-decoration: none;
    padding: 10px;
    padding-block: black;
    margin: 10px;
    border-radius: 50%;
}
.sotialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}
.sotialIcons,a:hover{
    background-color:skyblue;
    transition: 0.5s;
}
.sotialIcons,a:hover i{
    background-color: white;
    transition: 0.5s;
}
footer .div2{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
}
footer .div2 h3{
    color: #fff;
    margin-bottom: 10px;
}
footer .div2 ul{
    display: flex;
    flex-direction: column;
}
footer .div2 ul a{
    font-size: 13px;
    color: #fff;
    text-decoration: none;
    margin-bottom: 5px;
    transition: 0.5s;
}
footer .div2 ul a:hover{
    letter-spacing: 0.5px;
}


#titre-espace{
    background-color:skyblue;
    padding: 1rem;
    text-align: center;
    margin: 0;
}
#img-espace{
    margin: 0;
    width: 100%;
    height: auto;
}


/* le css de la page courante*/
#formulaire  {
    width: 60%;
    padding: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 191, 255, 0.4);
    border-radius: 10px;}

label {
    display: block;
    margin-bottom: 0.5em;
}

input[type="text"],
input[type="url"],
input[type="tel"],
input[type="number"],
input[type="email"] {
    width: calc(100% - 10px);
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="reset"],
input[type="submit"] {
    margin-right: 5px;
    background-color:skyblue;
    color: white;
    padding: 1em 5em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#boutons{
    display: flex;
    margin-left: 25%;
    margin-right: 25%;
    align-items: center;
}


input[type="submit"] :hover ,input[type="reset"]:hover {
    background-color: orangered;
}

.required {
    color:orangered;
}